@model IEnumerable<YoFi.Core.Models.Payee>

@{
    ViewData["Title"] = "Payees";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="xsrf"
       name="xsrf" value="@GetAntiXsrfRequestToken()">

<nav class="navbar navbar-light navbar-page mb-3">
    <div class="container">
        <span class="navbar-brand mb-0 h1">@ViewData["Title"]</span>
        <form class="d-flex" asp-route-v="@ViewData["ViewP"]" asp-route-o="@ViewData["Order"]" method="post">
            <input class="form-control me-2 category-autocomplete input-lg" type="search" placeholder="Search" aria-label="Search" name="q" data-test-id="q" value="@ViewData["Query"]" autocomplete="off">
            <button type="submit" class="btn btn-secondary me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search" data-test-id="btn-search">
                <i class="fas fa-search"></i>
            </button>
            <a asp-route-o="@ViewData["Order"]" asp-route-v="@ViewData["ViewP"]" class="btn btn-outline-secondary me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear" data-test-id="btn-clear"><i class="fas fa-times"></i></a>
        </form>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButtonAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAction">
                <a asp-action="Create" class="btn">Create New</a>
                <a asp-action="Index" class="btn"
                   asp-route-q="@ViewData["Query"]"
                   asp-route-v="@ViewData["ToggleSelected"]">
                    @((bool)(ViewData["ShowSelected"])?"Cancel Bulk Edit":"Bulk Edit")
                </a>
                <a asp-action="Download" class="btn">Export</a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#helpModal" class="btn">Help Topic</a>
            </div>
        </div>
    </div>
</nav>

@if ((bool)(ViewData["ShowSelected"]))
{
    <form asp-action="BulkEdit" method="post">
        <div class="form-actions d-flex">
            <p class="me-2 fs-6 mt-2">Set Category To:</p>
            <input type="text" name="Category" class="col-md-4 category-autocomplete me-3 fs-6 mt-1 mb-1" autocomplete="off" />
            <input type="submit" value="OK" class="btn btn-primary me-3 mt-1 mb-1" />
            <a asp-action="Index" class="btn btn-outline-secondary me-auto mt-1 mb-1">Cancel</a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" class="btn btn-outline-secondary ms-auto mt-1 mb-1" data-test-id="btn-bulk-delete">Delete</a>
        </div>
    </form>
}

@if ((ViewData[nameof(Common.AspNet.PageDivider)] as Common.AspNet.PageDivider).PageTotalItems > 0)
{
    <table class="table">
        <thead>
            <tr>
                @if ((bool)(ViewData["ShowSelected"]))
                {
                    <th>
                        Edit
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var line = 1;
            }
            @foreach (var item in Model)
            {
                <tr data-id="@item.ID" data-test-id="line-@(line++)">
                    @if ((bool)(ViewData["ShowSelected"]))
                    {
                        <td>
                            @{ var checkedornot = (item.Selected == true) ? "checked" : string.Empty; }
                            <input type="checkbox" class="checkbox-post" @checkedornot data-endpoint="/api/SelectPayee/@item.ID" data-test-id="check-select">
                        </td>
                    }
                    <td class="display-category">
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td class="display-payee">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <span data-bs-toggle="tooltip" title="Edit">
                            <button class="btn btn-outline-secondary btn-sm" data-id="@item.ID" data-bs-toggle="modal" data-bs-target="#editPayeeModal"><i class="fa fa-edit"></i></button>
                        </span>
                        <a class="btn btn-outline-secondary btn-sm" asp-action="Delete" asp-route-id="@item.ID" data-bs-toggle="tooltip" title="Delete"><i class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("/Views/Shared/_PaginationPartial.cshtml", ViewData[nameof(Common.AspNet.PageDivider)])
}
<form method="post" enctype="multipart/form-data" asp-controller="Payees" asp-action="Upload">
    <div class="input-group mb-3 mt-3">
        <button class="btn btn-secondary" type="submit" id="inputGroupFileAddon03" disabled>Upload</button>
        <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" name="files" multiple>
    </div>
</form>

<!-- Modal Edit -->
<!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
<!-- Working on this: https://stackoverflow.com/questions/16011151/mvc-4-edit-modal-form-using-bootstrap -->

<div class="actiondialog modal fade" id="editPayeeModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" data-endpoint="/Payees/EditModal/">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="BulkDelete">
                <div class="modal-body">
                    <h2 data-test-id="help-title">Are you sure?</h2>
                    <p>These items will be deleted permanantly, with no option to recover them.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" data-test-id="btn-modal-ok">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/Shared/_HelpDialogPartial.cshtml", "payees")
