@model YoFi.Core.Repositories.Wire.IWireQueryResultBase
<div class="mt-2 row">
    <div class="col-sm-7">
        <p class="fs-6">Displaying <span data-test-id="firstitem">@Model.PageInfo.FirstItem</span> through <span data-test-id="lastitem">@(Model.PageInfo.FirstItem + Model.PageInfo.NumItems - 1)</span> of <span data-test-id="totalitems">@Model.PageInfo.TotalItems</span>.</p>
    </div>
    <nav class="col-sm-5" aria-label="Pagination control">
        <ul class="pagination pagination-sm justify-content-end">
            @if (Model.PageInfo.Page > 2 && Model.PageInfo.TotalPages > 3)
            {
                <li class="page-item">
                    <a asp-route-o="@Model.Parameters.Order"
                       asp-route-q="@Model.Parameters.Query"
                       asp-route-v="@Model.Parameters.View"
                       aria-label="First Page"
                       class="page-link">&laquo;</a>
                </li>
            }
            @if (Model.PageInfo.Page == Model.PageInfo.TotalPages && Model.PageInfo.TotalPages > 2)
            {
                var showpage = Model.PageInfo.Page - 2;
                <li class="page-item">
                    <a asp-route-o="@Model.Parameters.Order"
                       asp-route-p="@showpage"
                       asp-route-q="@Model.Parameters.Query"
                       asp-route-v="@Model.Parameters.View"
                       class="page-link">@showpage</a>
                </li>
            }
            @if (Model.PageInfo.Page > 1)
            {
                var showpage = Model.PageInfo.Page - 1;
                <li class="page-item">
                    <a asp-route-o="@Model.Parameters.Order"
                       asp-route-p="@showpage"
                       asp-route-q="@Model.Parameters.Query"
                       asp-route-v="@Model.Parameters.View"
                       class="page-link">@showpage</a>
                </li>
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">@Model.PageInfo.Page</span>
            </li>
            @if (Model.PageInfo.Page < Model.PageInfo.TotalPages)
            {
                var showpage = Model.PageInfo.Page + 1;
                <li class="page-item">
                    <a asp-route-o="@Model.Parameters.Order"
                       asp-route-p="@showpage"
                       asp-route-q="@Model.Parameters.Query"
                       asp-route-v="@Model.Parameters.View"
                       class="page-link" data-test-id="nextpage">@showpage</a>
                </li>
            }
            @if (Model.PageInfo.Page == 1 && Model.PageInfo.TotalPages > 2)
            {
                var showpage = Model.PageInfo.Page + 2;
                <li class="page-item">
                    <a asp-route-o="@Model.Parameters.Order"
                       asp-route-p="@showpage"
                       asp-route-q="@Model.Parameters.Query"
                       asp-route-v="@Model.Parameters.View"
                       class="page-link">@showpage</a>
                </li>
            }
            @if (Model.PageInfo.Page + 1 < Model.PageInfo.TotalPages && Model.PageInfo.TotalPages > 3)
            {
                <li class="page-item">
                    <a asp-route-o="@Model.Parameters.Order"
                       asp-route-p="@Model.PageInfo.TotalPages"
                       asp-route-q="@Model.Parameters.Query"
                       asp-route-v="@Model.Parameters.View"
                       aria-label="Last Page"
                       class="page-link">&raquo;</a>
                </li>
            }
        </ul>
    </nav>
</div>