@model Common.AspNet.PageDivider
<div class="mt-2 row">
    <div class="col-sm-7">
        <p class="fs-6">Displaying <span data-test-id="firstitem">@Model.PageFirstItem</span> through <span data-test-id="lastitem">@Model.PageLastItem</span> of <span data-test-id="totalitems">@Model.PageTotalItems</span>.</p>
    </div>
    <nav class="col-sm-5" aria-label="Pagination control">
        <ul class="pagination pagination-sm justify-content-end">
            @if (Model.FirstPage.HasValue)
            {
                <li class="page-item">
                    <a asp-route-o="@Model.ViewParameters?.OrderParameter"
                       asp-route-q="@Model.ViewParameters?.QueryParameter"
                       asp-route-v="@Model.ViewParameters?.ViewParameter"
                       aria-label="First Page"
                       class="page-link">&laquo;</a>
                </li>
            }
            @if (Model.PreviousPreviousPage.HasValue)
            {
                <li class="page-item">
                    <a asp-route-o="@Model.ViewParameters?.OrderParameter"
                       asp-route-p="@Model.PreviousPreviousPage"
                       asp-route-q="@Model.ViewParameters?.QueryParameter"
                       asp-route-v="@Model.ViewParameters?.ViewParameter"
                       class="page-link">@Model.PreviousPreviousPage</a>
                </li>
            }
            @if (Model.PreviousPage.HasValue)
            {
                <li class="page-item">
                    <a asp-route-o="@Model.ViewParameters?.OrderParameter"
                       asp-route-p="@Model.PreviousPage"
                       asp-route-q="@Model.ViewParameters?.QueryParameter"
                       asp-route-v="@Model.ViewParameters?.ViewParameter"
                       class="page-link">@Model.PreviousPage</a>
                </li>
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">@Model.Page</span>
            </li>
            @if (Model.NextPage.HasValue)
            {
                <li class="page-item">
                    <a asp-route-o="@Model.ViewParameters?.OrderParameter"
                       asp-route-p="@Model.NextPage"
                       asp-route-q="@Model.ViewParameters?.QueryParameter"
                       asp-route-v="@Model.ViewParameters?.ViewParameter"
                       class="page-link" data-test-id="nextpage">@Model.NextPage</a>
                </li>
            }
            @if (Model.NextNextPage.HasValue)
            {
                <li class="page-item">
                    <a asp-route-o="@Model.ViewParameters?.OrderParameter"
                       asp-route-p="@Model.NextNextPage"
                       asp-route-q="@Model.ViewParameters?.QueryParameter"
                       asp-route-v="@Model.ViewParameters?.ViewParameter"
                       class="page-link">@Model.NextNextPage</a>
                </li>
            }
            @if (Model.LastPage.HasValue)
            {
                <li class="page-item">
                    <a asp-route-o="@Model.ViewParameters?.OrderParameter"
                       asp-route-p="@Model.LastPage"
                       asp-route-q="@Model.ViewParameters?.QueryParameter"
                       asp-route-v="@Model.ViewParameters?.ViewParameter"
                       aria-label="Last Page"
                       class="page-link">&raquo;</a>
                </li>
            }
        </ul>
    </nav>
</div>