@using YoFi.AspNet.Pages
@using YoFi.Core.Reports
@model IReportNavbarViewModel
@{
    var icons = new[] { "&check;", "!!", "X" };
    var Parameters = Model.Parameters;
}

<nav class="navbar navbar-expand-lg navbar-light navbar-page mb-3">
    <div class="container">

        <span class="navbar-brand mb-0 h1">Reports</span>

        <div class="nav-item dropdown me-auto">
            <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose a Report
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReportId">
                <a href="/Reports" class="dropdown-item">Summary</a>
                @foreach (var item in Model.Definitions)
                {
                    <a asp-page="Report" asp-route-id="@item.id" class="dropdown-item">@item.Name</a>
                }
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPage" aria-controls="navbarPage" aria-expanded="false" aria-label="Toggle page navigation">
            <i class="fas fa-cog"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarPage">

            <ul class="navbar-nav ms-auto">
                @if (Parameters.id != "summary")
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuButtonLevel" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Depth
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonLevel">
                            @{
                                for (int i = 1; i <= 4; i++)
                                {
                                    <a asp-page="Report"
                                       asp-route-id="@Parameters.id"
                                       asp-route-month="@Parameters.month"
                                       asp-route-showmonths="@Parameters.showmonths"
                                       asp-route-level="@i"
                                       class="dropdown-item">@i-Level</a>
                                }
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuButtonColumns" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Show Months
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonColumns">
                            <a asp-page="Report"
                                asp-route-id="@Parameters.id"
                                asp-route-level="@Parameters.level"
                                asp-route-month="@Parameters.month"
                               asp-route-showmonths="true"
                               class="dropdown-item">Show</a>
                            <a asp-page="Report"
                                asp-route-id="@Parameters.id"
                                asp-route-level="@Parameters.level"
                                asp-route-month="@Parameters.month"
                               asp-route-showmonths="false"
                               class="dropdown-item">Hide</a>
                        </div>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuButtonMonth" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Month
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonMonth">
                        @{
                            int n = 1;
                            foreach (var monthname in System.Globalization.DateTimeFormatInfo.CurrentInfo.MonthNames.Where(x => !string.IsNullOrEmpty(x)))
                            {
                                @if (Parameters.id == "summary")
                                {
                                    <a asp-page="Reports"
                                       asp-route-month="@n"
                                       class="dropdown-item">@n @monthname</a>
                                }
                                else
                                {
                                    <a asp-page="Report"
                                        asp-route-id="@Parameters.id"
                                        asp-route-showmonths="@Parameters.showmonths"
                                        asp-route-level="@Parameters.level"
                                       asp-route-month="@n"
                                       class="dropdown-item">@n @monthname</a>
                                }
                                n++;
                            }
                        }
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuButtonYear" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Year
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonYear">
                        @{
                            int currentyear = DateTime.Now.Year;
                            for (int y = 2017; y <= currentyear; ++y)
                            {
                                @if (Parameters.id == "summary")
                                {
                                    <a asp-page="Reports"
                                       asp-route-year="@y"
                                       class="dropdown-item">@y</a>
                                }
                                else
                                {
                                    <a asp-page="Report"
                                        asp-route-id="@Parameters.id"
                                        asp-route-showmonths="@Parameters.showmonths"
                                        asp-route-level="@Parameters.level"
                                       asp-route-year="@y"
                                       class="dropdown-item">@y</a>
                                }
                            }
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
