@model IEnumerable<OfxWeb.Asp.Models.BudgetTx>

@{
    ViewData["Title"] = "Budget Line Items";
}

<nav class="navbar navbar-light mb-3" style="background-color: #b1e6fc;">
    <div class="container">
        <span class="navbar-brand mb-0 h1">@ViewData["Title"]</span>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButtonAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAction">
                <a asp-action="Create" class="btn">Create New</a>
                <a asp-action="Download" class="btn">Export</a>
            </div>
        </div>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("/Views/Shared/_PaginationPartial.cshtml")

<form method="post" enctype="multipart/form-data" asp-controller="BudgetTxs" asp-action="Upload">
    <div class="input-group mb-3 mt-3">
        <button class="btn btn-secondary" type="submit" id="inputGroupFileAddon03">Upload</button>
        <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" name="files" multiple>
    </div>
</form>
