@model IEnumerable<YoFi.AspNet.Models.BudgetTx>

@{
    ViewData["Title"] = "Budget Line Items";
}

<nav class="navbar navbar-light navbar-page mb-3">
    <div class="container">
        <span class="navbar-brand mb-0 h1">@ViewData["Title"]</span>
        <form class="d-flex" asp-route-v="@ViewData["ViewP"]" asp-route-o="@ViewData["Order"]" method="post">
            <input class="form-control me-2 category-autocomplete input-lg" type="search" placeholder="Search" aria-label="Search" name="q" data-test-id="q" value="@ViewData["Query"]" autocomplete="off">
            <button type="submit" class="btn btn-secondary me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search" data-test-id="btn-search">
                <i class="fas fa-search"></i>
            </button>
            <a asp-route-o="@ViewData["Order"]" asp-route-v="@ViewData["ViewP"]" class="btn btn-outline-secondary me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear" data-test-id="btn-clear"><i class="fas fa-times"></i></a>
        </form>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButtonAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAction">
                <a asp-action="Create" class="btn">Create New</a>
                <a asp-action="Download" class="btn">Export</a>
            </div>
        </div>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Edit" asp-route-id="@item.ID" data-bs-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Delete" asp-route-id="@item.ID" data-bs-toggle="tooltip" title="Delete"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("/Views/Shared/_PaginationPartial.cshtml",ViewData[nameof(Common.AspNet.PageDivider)])

<form method="post" enctype="multipart/form-data" asp-controller="BudgetTxs" asp-action="Upload">
    <div class="input-group mb-3 mt-3">
        <button class="btn btn-secondary" type="submit" id="inputGroupFileAddon03" disabled>Upload</button>
        <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" name="files" multiple>
    </div>
</form>
