@page
@model YoFi.AspNet.Pages.HelpModel
@{
}
@if (null != Model.Topic)
{
    <h2 data-test-id="help-topic-title">@Model.Topic.Title</h2>

    @foreach (var line in Model.Topic.Contents)
    {
        <p>@Html.Raw(line)</p>
    }

}
else
{
    Layout = "_Layout";
    ViewData["Title"] = "Help";

    @foreach (var topic in Model.ShownTopics)
    {
        var alert = (topic.Key == Model.Highlight) ? "alert-primary p-2 mb-3 mt-3" : string.Empty;
        var testid = (topic.Key == Model.Highlight) ? "highlight" : string.Empty;

        <div class="@alert" id="@topic.Key" data-test-id="@testid">
            <h2 data-test-id="help-topic-title">@topic.Title</h2>

            @if (topic.ExtendedIsList)
            {
                @foreach (var line in topic.Contents)
                {
                    <p>@Html.Raw(line)</p>
                }
                <ul>
                    @foreach (var line in topic.Extended)
                    {
                        <li>@Html.Raw(line)</li>
                    }
                </ul>
            }
            else
            {
                @foreach (var line in topic.Contents.Concat(topic.Extended))
                {
                    <p>@Html.Raw(line)</p>
                }
            }

            @if (null != topic.Button)
            {
                <div class="d-flex w-100">
                    <a class="btn btn-primary ms-auto" href="@topic.Href">@topic.Button &raquo;</a>
                </div>
            }
        </div>
    }
}
