@model OfxWeb.Asp.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="ReceiptUrl" />
            <div class="form-group">
                <label asp-for="Payee" class="control-label"></label>
                <input asp-for="Payee" class="form-control" />
                <span asp-validation-for="Payee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory" class="control-label"></label>
                <input asp-for="SubCategory" class="form-control" />
                <span asp-validation-for="SubCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankReference" class="control-label"></label>
                <input asp-for="BankReference" class="form-control" />
                <span asp-validation-for="BankReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Duplicate" class="btn btn-default" asp-route-duplicate="true" />
                <a asp-action="Index" class="btn btn-default">Cancel</a>
                <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-default" style="float:right">Delete</a>
            </div>
        </form>

    </div>
</div>

<h2>Receipt</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        @if (null == Model.ReceiptUrl)
        {
            <form method="post" enctype="multipart/form-data" asp-controller="Transactions" asp-action="UpReceipt">
                <div class="form-group">
                    <p>Upload a receipt</p>
                    <input type="file" name="files" size="50" />
                    <input type="hidden" asp-for="ID" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>
            </form>
        }
        else
        {
            <p>
                <a href="/Transactions/GetReceipt/@Model.ID">Get Receipt</a> |
                <a href="/Transactions/DeleteReceipt/@Model.ID">Delete Receipt</a>
            </p>
        }

    </div>
</div>

<h2>Splits</h2>
<hr />

<a asp-action="CreateSplit" asp-route-id="@Model.ID" class="btn btn-primary">Add</a>

@if (Model.Splits != null)
{
    foreach (var split in Model.Splits)
    {
        <dl class="dl-horizontal">
            <dt>
                Category
            </dt>
            <dd>
                @(split.Category ?? String.Empty)
            </dd>
            <dt>
                SubCategory
            </dt>
            <dd>
                @(split.SubCategory ?? String.Empty)
            </dd>
            <dt>
                Amount
            </dt>
            <dd>
                @split.Amount
            </dd>
            <dt>
                Memo
            </dt>
            <dd>
                @split.Memo
            </dd>
            <dt>
                Actions
            </dt>
            <dd>
                <a asp-controller="Splits" asp-action="Edit" asp-route-id="@split.ID">Edit</a>
                <a asp-controller="Splits" asp-action="Delete" asp-route-id="@split.ID">Delete</a>
            </dd>
        </dl>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
