@model IEnumerable<OfxWeb.Asp.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";

    var prevDisabled = ViewData["PreviousPage"] == null ? "disabled" : "";
    var nextDisabled = ViewData["NextPage"] == null ? "disabled" : "";
}
<div style="float:right; margin-bottom:15px">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@ViewData["PreviousPage"]"
       asp-route-search="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a> |
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@ViewData["NextPage"]"
       asp-route-search="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
<div style="margin-bottom:15px; background-color: lightgray">
    <a asp-action="Create" class="btn btn-default">Create New</a> |
    <a asp-action="Index" class="btn btn-default"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@ViewData["PreviousPage"]"
       asp-route-search="@ViewData["CurrentFilterToggleHidden"]">
        Show Hidden
    </a> |
    <a asp-action="Download" class="btn btn-default">Export</a>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by: Payee <input type="text" name="searchPayee" value="@ViewData["CurrentSearchPayee"]" />
            Category <input type="text" name="searchCategory" value="@ViewData["CurrentSearchCategory"]" />
            <input type="submit" value="Search" class="btn btn-secondary" />
            <a asp-action="Index" class="btn btn-light">Reset</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            @if ((bool)(ViewData["ShowHidden"]))
            {
                <th>
                    Hidden
                </th>
            }
            <th>
                <a asp-action="Index" asp-route-search="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Timestamp)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-search="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["PayeeSortParm"]">@Html.DisplayNameFor(model => model.Payee)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-search="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["AmountSortParm"]">@Html.DisplayNameFor(model => model.Amount)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-search="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CategorySortParm"]">@Html.DisplayNameFor(model => model.Category)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            @if ((bool)(ViewData["ShowHidden"]))
            {
                <th>
                    <a asp-action="Index" asp-route-search="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["BankReferenceSortParm"]">@Html.DisplayNameFor(model => model.BankReference)</a>
                </th>
            }
            <th colspan="4">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.ID">
                @if ((bool)(ViewData["ShowHidden"]))
                {
                    <td>
                        @{ var hiddenchecked = (item.Hidden == true) ? "checked" : string.Empty; }
                        <input type="checkbox" class="checkbox-hidden" @hiddenchecked data-id="@item.ID">
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td class="display-payee">
                    @Html.DisplayFor(modelItem => item.Payee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td class="display-category">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="display-subcategory">
                    @Html.DisplayFor(modelItem => item.SubCategory)
                </td>
                <td class="display-memo">
                    @Html.DisplayFor(modelItem => item.Memo)
                </td>
                @if ((bool)(ViewData["ShowHidden"]))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.BankReference)
                    </td>
                }
                <td style="padding-left:0; padding-right:5px">
                    <a href="#" data-id="@item.ID" data-toggle="modal" data-target="#editModal">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td style="padding-left:0; padding-right:5px">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-searchPayee="@item.Payee.Trim()">
                        <i class="fa fa-search"></i>
                    </a>
                </td>
                <td style="padding-left:0; padding-right:5px">
                    <a href="#" data-id="@item.ID" data-toggle="modal" data-target="#addPayeeModal">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>
                <td style="padding-left:0; padding-right:0">
                    <a href="#" class="apply-link" data-id="@item.ID"><i class="fa fa-paint-brush"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--
    TODO: "Payee" column
    * If cat/subcat empty, and payee exists in payee table, show payee cat/subcat and "apply" button
        This will require a left join to payee table on transaction.payee == payee.name, then include payee.cat & .subcat here
    * If cat/subcat set, and payee not exists in payee table, show "add" button -> Payees/Add
-->

<!-- Modal Edit -->
<!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
<!-- Working on this: https://stackoverflow.com/questions/16011151/mvc-4-edit-modal-form-using-bootstrap -->

<div class="actiondialog modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" data-endpoint="/Transactions/EditModal/">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <a asp-action="Edit" class="btn btn-secondary asp-route-id" target="_blank">More</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <!-- asp-route-id="@@item.ID"  -->
        </div>
    </div>
</div>

<div class="actiondialog modal fade" id="addPayeeModal" tabindex="-1" role="dialog" aria-labelledby="addPayeeModalLabel" aria-hidden="true" data-endpoint="/Payees/CreateModal/">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <!-- asp-route-id="@@item.ID"  -->
        </div>
    </div>
</div>