@model IEnumerable<OfxWeb.Asp.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";

    int pagenum = 1;
    if (ViewData["Page"] != null)
        pagenum = Convert.ToInt32(ViewData["Page"]);

    var prevDisabled = ViewData["PreviousPage"] == null ? "disabled" : "";
    var nextDisabled = ViewData["NextPage"] == null ? "disabled" : "";

}

@section scripts {
    <script type="text/javascript">
        function dropHandler(ev) {
        }

        function dragOverHandler(ev) {
            console.log('File(s) in drop zone');

            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();
        }
    </script>
}

<nav class="navbar navbar-light mb-3" style="background-color: #b1e6fc;">
    <div class="container">
        <span class="navbar-brand">Transactions</span>
        <form class="d-flex" asp-action="Index" asp-route-v="@ViewData["ViewP"]" asp-route-o="@ViewData["Order"]" method="post">
            <input class="form-control me-2 category-autocomplete input-lg" type="search" placeholder="Search" aria-label="Search" name="q" value="@ViewData["Query"]" autocomplete="off">
            <button type="submit" class="btn btn-secondary me-1">
                <i class="fas fa-search"></i>
            </button>
            <a a href="#" data-bs-toggle="modal" data-bs-target="#searchHelpModal" class="btn btn-outline-secondary me-1"><i class="fas fa-question"></i></a>
            <a asp-action="Index" asp-route-o="@ViewData["Order"]" asp-route-v="@ViewData["ViewP"]" class="btn btn-outline-secondary me-1"><i class="fas fa-times"></i></a>
        </form>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButtonAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAction">
                <a asp-action="Create" class="btn">Create New</a>
                <a asp-action="Index" class="btn"
                   asp-route-o="@ViewData["Order"]"
                   asp-route-p="@ViewData["Page"]"
                   asp-route-q="@ViewData["Query"]"
                   asp-route-v="@ViewData["ToggleHidden"]">
                    @((bool)(ViewData["ShowHidden"])?"Hide Hidden":"Show Hidden")
                </a>
                <a asp-action="Index" class="btn"
                   asp-route-o="@ViewData["Order"]"
                   asp-route-p="@ViewData["Page"]"
                   asp-route-q="@ViewData["Query"]"
                   asp-route-v="@ViewData["ToggleSelected"]">
                    @((bool)(ViewData["ShowSelected"])?"Cancel Bulk Edit":"Bulk Edit")
                </a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exportHowModal" class="btn">Export</a>
            </div>
        </div>
    </div>
</nav>


@if ((bool)(ViewData["ShowSelected"]))
{
    <div class="mt-2">
        <form asp-action="BulkEdit" asp-route-o="@ViewData["Order"]" method="post">
            <div class="form-actions">
                <p>
                    Set Category To: <input type="text" name="Category" class="col-md-4 category-autocomplete" autocomplete="off" />
                    <input type="submit" value="OK" class="btn btn-primary" />
                    <a asp-action="Index" asp-route-o="@ViewData["Order"]" asp-route-q="@ViewData["Query"]" asp-route-v="@ViewData["ToggleSelected"]" class="btn btn-outline-secondary">Cancel</a>
                </p>
            </div>
        </form>
    </div>
}

<table class="table">
    <thead>
        <tr>
            @if ((bool)(ViewData["ShowHidden"]))
            {
                <th>
                    Hidden
                </th>
            }
            @if ((bool)(ViewData["ShowSelected"]))
            {
                <th>
                    Edit
                </th>
            }
            <th>
                <a asp-action="Index" asp-route-q="@ViewData["Query"]" asp-route-v="@ViewData["ViewP"]" asp-route-o="@ViewData["DateSortParm"]">Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-q="@ViewData["Query"]" asp-route-v="@ViewData["ViewP"]" asp-route-o="@ViewData["PayeeSortParm"]">@Html.DisplayNameFor(model => model.Payee)</a>
            </th>
            <th style="text-align:right">
                <a asp-action="Index" asp-route-q="@ViewData["Query"]" asp-route-v="@ViewData["ViewP"]" asp-route-o="@ViewData["AmountSortParm"]">@Html.DisplayNameFor(model => model.Amount)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-q="@ViewData["Query"]" asp-route-v="@ViewData["ViewP"]" asp-route-o="@ViewData["CategorySortParm"]">@Html.DisplayNameFor(model => model.Category)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            @if ((bool)(ViewData["ShowHidden"]))
            {
                <th>
                    <a asp-action="Index" asp-route-q="@ViewData["Query"]" asp-route-v="@ViewData["ViewP"]" asp-route-o="@ViewData["BankReferenceSortParm"]">@Html.DisplayNameFor(model => model.BankReference)</a>
                </th>
            }
            <th colspan="5">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="txdrop" data-id="@item.ID" ondragover="dragOverHandler(event);">
                @if ((bool)(ViewData["ShowHidden"]))
                {
                    <td>
                        @{ var checkedornot = (item.Hidden == true) ? "checked" : string.Empty; }
                        <input type="checkbox" class="checkbox-post" @checkedornot data-endpoint="/api/tx/Hide/@item.ID">
                    </td>
                }
                @if ((bool)(ViewData["ShowSelected"]))
                {
                    <td>
                        @{ var checkedornot = (item.Selected == true) ? "checked" : string.Empty; }
                        <input type="checkbox" class="checkbox-post" @checkedornot  data-endpoint="/api/tx/Select/@item.ID">
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td class="display-payee">
                    @Html.DisplayFor(modelItem => item.Payee)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td class="display-category">
                    @if (item.HasSplits)
                    {
                        <p>SPLIT</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Category)
                    }
                </td>
                <td class="display-memo">
                    @Html.DisplayFor(modelItem => item.Memo)
                </td>
                @if ((bool)(ViewData["ShowHidden"]))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.BankReference)
                    </td>
                }
                <td style="padding-left:0; padding-right:5px">

                    @if (item.HasSplits)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" target="_blank">
                            <i class="fa fa-edit"></i>
                        </a>
                    }
                    else
                    {
                        <a href="#" data-id="@item.ID" data-bs-toggle="modal" data-bs-target="#editModal">
                            <i class="fa fa-edit"></i>
                        </a>
                    }
                </td>
                <td style="padding-left:0; padding-right:5px">
                    <a asp-action="Index"
                       asp-route-o="@ViewData["Order"]"
                       asp-route-v="@ViewData["ViewP"]"
                       asp-route-q="p=@item.Payee?.Trim()">
                        <i class="fa fa-search"></i>
                    </a>
                </td>
                <td style="padding-left:0; padding-right:5px">
                    <a href="#" data-id="@item.ID" data-bs-toggle="modal" data-bs-target="#addPayeeModal">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>
                <td style="padding-left:0; padding-right:5px">
                    <a href="#" class="apply-link" data-id="@item.ID"><i class="fa fa-paint-brush"></i></a>
                </td>
                <td style="padding-left:0; padding-right:0" class="display-receipt">
                    @if (null != item.ReceiptUrl)
                    {
                        <a href="/Transactions/GetReceipt/@item.ID" target="_blank"><i class="far fa-file-pdf"></i></a>
                    }
                    else
                    {
                        <a href="/Transactions/GetReceipt/@item.ID" style="display:none" target="_blank"><i class="fa fa-file-pdf"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-2">
    <nav aria-label="Pagination control">
        <ul class="pagination pagination-sm justify-content-end">
            @if (ViewData["FirstPage"] != null)
            {
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-o="@ViewData["Order"]"
                       asp-route-q="@ViewData["Query"]"
                       asp-route-v="@ViewData["ViewP"]"
                       aria-label="First Page"
                       class="page-link">&laquo;</a>
                </li>
            }
            @if (ViewData["PreviousPreviousPage"] != null)
            {
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-o="@ViewData["Order"]"
                       asp-route-p="@ViewData["PreviousPreviousPage"]"
                       asp-route-q="@ViewData["Query"]"
                       asp-route-v="@ViewData["ViewP"]"
                       class="page-link">@ViewData["PreviousPreviousPage"]</a>
                </li>
            }
            @if (ViewData["PreviousPage"] != null)
            {
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-o="@ViewData["Order"]"
                       asp-route-p="@ViewData["PreviousPage"]"
                       asp-route-q="@ViewData["Query"]"
                       asp-route-v="@ViewData["ViewP"]"
                       class="page-link">@ViewData["PreviousPage"]</a>
                </li>
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">@(ViewData["Page"] ?? 1)</span>
            </li>
            @if (ViewData["NextPage"] != null)
            {
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-o="@ViewData["Order"]"
                       asp-route-p="@ViewData["NextPage"]"
                       asp-route-q="@ViewData["Query"]"
                       asp-route-v="@ViewData["ViewP"]"
                       class="page-link">@ViewData["NextPage"]</a>
                </li>
            }
            @if (ViewData["NextNextPage"] != null)
            {
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-o="@ViewData["Order"]"
                       asp-route-p="@ViewData["NextNextPage"]"
                       asp-route-q="@ViewData["Query"]"
                       asp-route-v="@ViewData["ViewP"]"
                       class="page-link">@ViewData["NextNextPage"]</a>
                </li>
            }
            @if (ViewData["LastPage"] != null)
            {
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-o="@ViewData["Order"]"
                       asp-route-p="@ViewData["LastPage"]"
                       asp-route-q="@ViewData["Query"]"
                       asp-route-v="@ViewData["ViewP"]"
                       aria-label="Last Page"
                       class="page-link">&raquo;</a>
                </li>
            }
        </ul>
    </nav>
</div>


<div class="actiondialog modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" data-endpoint="/Transactions/EditModal/">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <a asp-action="Edit" class="btn btn-secondary asp-route-id btnDismissEditModal" target="_blank">More</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="actiondialog modal fade" id="addPayeeModal" tabindex="-1" role="dialog" aria-labelledby="addPayeeModalLabel" aria-hidden="true" data-endpoint="/Payees/CreateModal/">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="actiondialog modal fade" id="exportHowModal" tabindex="-1" role="dialog" aria-labelledby="exportHowModalLabel" aria-hidden="true" data-endpoint="/Transactions/DownloadPartial/">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" action="/Transactions/Download">
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="searchHelpModal" tabindex="-1" role="dialog" aria-labelledby="searchHelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    <h2>How to search for transactions</h2>
                    <ul>
                        <li>Type any text to search in category, payee, or memo</li>
                        <li>C={text} to search for {text} only in category</li>
                        <li>C=[blank] to search for items with empty category</li>
                        <li>P={text} to search for {text} only in payee</li>
                        <li>M={text} to search for {text} only in memo</li>
                        <li>R=1 or R=0 to include only items with (or without) a receipt</li>
                        <li>Y={year} to include only items in {year}</li>
                        <li>Separate multiple search terms with commas, e.g. "C=[blank],Y=2021"</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

