@model OfxWeb.Asp.Controllers.PivotTable<OfxWeb.Asp.Controllers.Label, OfxWeb.Asp.Controllers.Label, decimal>
@{
    var icons = new[] { "&check;", "!!", "X" };
}

<div style="margin-bottom:15px; background-color: lightgray">
    <a asp-action="Pivot" asp-route-report="monthly" class="btn btn-default">Monthly</a> |
    <a asp-action="Pivot" asp-route-report="details" class="btn btn-default">Details</a> |
    <a asp-action="Pivot" asp-route-report="yearly" class="btn btn-default">Yearly</a> |
    <a asp-action="Pivot" asp-route-report="budgettx" class="btn btn-default">Budget Tx</a> |
    <a asp-action="Pivot" asp-route-report="budgetmo" class="btn btn-default">Monthly Budget</a> |
    <a asp-action="Pivot" asp-route-report="budget" class="btn btn-default">Budget vs Actuals</a>
</div>

<h2>
    @ViewData["Title"]
</h2>
<h3>
    @ViewData["Subtitle"]
</h3>

<table class="table pivot-table">
    <thead>
        <tr>
        <tr>
            <th></th>
            @foreach (var column in Model.Columns)
            {
                <th>
                    @column.Value
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.RowLabels)
        {
            var emphasis = row.Emphasis ? "emphasis" : "";

            <tr>
                @if (string.IsNullOrEmpty(row.SubValue))
                {
                    <th>
                        @row.Value
                    </th>
                }
                else
                {
                    <td class="subhead @emphasis">
                        @row.SubValue
                    </td>
                }
                @foreach (var column in Model.Columns)
                {
                    var cell = Model.Table[row][column];
                    var format = column.Format ?? row.Format ?? "C2";

                    if (format == "P-warning")
                    {
                        var warning = "";
                        var icon = 0;
                        if (cell >= 1.0M)
                        {
                            icon = 2;
                            warning = "warningX";
                        }
                        else if (cell >= 0.8M)
                        {
                            icon = 1;
                        }
                        <td class="@emphasis @warning">
                            @cell.ToString("P0")
                            @Html.Raw(icons[icon])
                        </td>
                    }
                    else
                    {
                        <td class="@emphasis">
                            @cell.ToString(format)
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

<hr />


