@model OfxWeb.Asp.Controllers.PivotTable<OfxWeb.Asp.Controllers.Label, OfxWeb.Asp.Controllers.Label, decimal>
@{
    var icons = new[] { "&check;", "!!", "X" };
    string report = (string)ViewData["report"];
    int month = (int)ViewData["month"];
}

<div class="dropdown" style="float:right; margin: 4px">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Year
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        @{
            int currentyear = DateTime.Now.Year;
            for( int year = 2017; year <= currentyear; ++year)
            {
                <a asp-action="Pivot" asp-route-report="@report" asp-route-setyear="@year" class="dropdown-item">@year</a>
            }
        }
    </div>
</div>

<div class="dropdown" style="float:right; margin: 4px">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Month
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        @{
            int i = 1;
            foreach (var monthname in System.Globalization.DateTimeFormatInfo.CurrentInfo.MonthNames.Where(x => !string.IsNullOrEmpty(x)))
            {
                <a asp-action="Pivot" asp-route-report="@report" asp-route-month="@i" class="dropdown-item">@i @monthname</a>
                i++;
            }
        }
    </div>
</div>

@if ("budget" == report)
{
    <div class="dropdown" style="float:right; margin: 4px">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Weeks %
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            @{
                var pcts = new int[] { 20, 25, 40, 50, 60, 75, 80, 100 };
                foreach (var pct in pcts)
                {
                    <a asp-action="Pivot" asp-route-report="@report" asp-route-month="@month" asp-route-weekspct="@pct" class="dropdown-item">@pct %</a>
                }
            }
        </div>
    </div>
}

<div style="margin-bottom:15px; background-color: lightgray">
    <a asp-action="Pivot" asp-route-report="all" class="btn btn-default">All</a> |
    <a asp-action="Pivot" asp-route-report="monthly" class="btn btn-default">Monthly</a> |
    <a asp-action="Pivot" asp-route-report="details" class="btn btn-default">Details</a> |
    <a asp-action="Pivot" asp-route-report="yearly" class="btn btn-default">Yearly</a> |
    <a asp-action="Pivot" asp-route-report="mapped" class="btn btn-default">Mapped</a> |
    <a asp-action="Pivot" asp-route-report="budgettx" class="btn btn-default">Budget Tx</a> |
    <a asp-action="Pivot" asp-route-report="budgetmo" class="btn btn-default">Monthly Budget</a> |
    <a asp-action="Pivot" asp-route-report="budget" class="btn btn-default">Budget vs Actuals</a>
</div>

<h2>
    @ViewData["Title"]
</h2>
<h3>
    @ViewData["Subtitle"]
</h3>

<table class="table pivot-table">
    <thead>
        <tr>
        <tr>
            <th></th>
            @if (null != ViewData["Mapping"])
            {
                <th>Key1</th>
                <th>Key2</th>
                <th>Key3</th>
            }
            @foreach (var column in Model.Columns)
            {
                <th>
                    @column.Value
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.RowLabels)
        {
            var emphasis = row.Emphasis ? "emphasis" : "";
            var superhead = row.SuperHeading ? "superhead" : "";

        <tr class="@superhead">

            @if (string.IsNullOrEmpty(row.SubValue))
            {
                <th>
                    @row.Value
                </th>
            }
            else
            {
                <td class="subhead @emphasis">
                    @row.SubValue
                </td>
            }
            @if (null != ViewData["Mapping"])
            {
                <td class="subhead @emphasis">@row.Key1</td>
                <td class="subhead @emphasis">@row.Key2</td>
                <td class="subhead @emphasis">@row.Key3</td>
            }

            @foreach (var column in Model.Columns)
            {
                var cell = Model.Table[row][column];
                var format = column.Format ?? row.Format ?? "C2";

                if (format == "P-warning")
                {
                    var warning = "";
                    var icon = 0;
                    if (cell >= 1.0M)
                    {
                        icon = 2;
                        warning = "warningX";
                    }
                    else if (cell >= 0.8M)
                    {
                        icon = 1;
                    }
                    <td class="@emphasis @warning">
                        @cell.ToString("P0")
                        @Html.Raw(icons[icon])
                    </td>
                }
                else
                {
                    <td class="@emphasis">
                        @cell.ToString(format)
                    </td>
                }
            }
        </tr>
        }
    </tbody>
</table>

@if ("all" == report)
{

    <a asp-action="Pivot" asp-route-report="all" asp-route-download="true" class="btn btn-secondary">Download</a>
}

<hr />


