@model OfxWeb.Asp.Controllers.PivotTable<OfxWeb.Asp.Controllers.Label, OfxWeb.Asp.Controllers.Label>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2> Reports </h2>

<p>
    <a asp-action="Pivot" asp-route-report="monthly">Monthly</a>
    <a asp-action="Pivot" asp-route-report="yearly">Yearly</a>
</p>

<table class="table pivot-table">
    <thead>
        <tr>
        <tr>
            <th></th>
            @foreach (var column in Model.Columns)
            {
                <th>
                    @column.Value
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.RowLabels)
        {
            var emphasis = row.Emphasis ? "emphasis" : "";

            <tr>
                @if (string.IsNullOrEmpty(row.SubValue))
                {
                    <th>
                        @row.Value
                    </th>
                }
                else
                {
                    <td class="subhead @emphasis">
                        @row.SubValue
                    </td>
                }
                @foreach (var column in Model.Columns)
                {
                    var cell = Model.Table[row][column];

                    <td class="@emphasis">
                        @cell.ToString("C2")
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
