@using OfxWeb.Asp.Controllers.Helpers
@model Report
@{
    var icons = new[] { "&check;", "!!", "X" };
    string report = (string)ViewData["report"];
    int month = (int)ViewData["month"];
}

<div class="dropdown" style="float:right; margin: 4px">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Year
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        @{
            int currentyear = DateTime.Now.Year;
            for (int year = 2017; year <= currentyear; ++year)
            {
                <a asp-action="Report" asp-route-id="@report" asp-route-setyear="@year" class="dropdown-item">@year</a>
            }
        }
    </div>
</div>

<div class="dropdown" style="float:right; margin: 4px">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Month
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        @{
            int i = 1;
            foreach (var monthname in System.Globalization.DateTimeFormatInfo.CurrentInfo.MonthNames.Where(x => !string.IsNullOrEmpty(x)))
            {
                <a asp-action="Report" asp-route-id="@report" asp-route-month="@i" class="dropdown-item">@i @monthname</a>
                i++;
            }
        }
    </div>
</div>

<div style="margin-bottom:15px; background-color: lightgray">
    <a asp-action="Report" asp-route-id="all" class="btn btn-default">All</a> |
    <a asp-action="Report" asp-route-id="deep" class="btn btn-default">All Deep</a> |
    <a asp-action="Report" asp-route-id="summary" class="btn btn-default">All Summary</a> |
    <a asp-action="Report" asp-route-id="expenses-detail" class="btn btn-default">Expenses Detail</a> |
    <a asp-action="Report" asp-route-id="income" class="btn btn-default">Income</a> |
    <a asp-action="Report" asp-route-id="taxes" class="btn btn-default">Taxes</a> |
    <a asp-action="Report" asp-route-id="savings" class="btn btn-default">Savings</a> |
    <a asp-action="Report" asp-route-id="expenses-summary" class="btn btn-default">Expenses Summary</a> |
    <a asp-action="Report" asp-route-id="budget" class="btn btn-default">Complete Budget</a> |
    <a asp-action="Report" asp-route-id="expenses-budget" class="btn btn-default">Expenses Budget</a> |
    <a asp-action="Report" asp-route-id="all-v-budget" class="btn btn-default">All v Budget</a> |
    <a asp-action="Report" asp-route-id="expenses-v-budget" class="btn btn-default">Expenses v Budget</a>
</div>

<h2>
    @Model.Name
</h2>
@if (!string.IsNullOrEmpty(Model.Description))
{
    <h3>
        @Model.Description
    </h3>
}

<table class="table report">
    <thead>
        <tr>
        <tr class="report-header">
            <th>@Model.Name</th>
            @foreach (var column in Model.ColumnLabels)
            {
                <th>
                    @(column.IsTotal ? "TOTAL" : column.Name)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.RowLabelsOrdered)
        {
            var rowformat = row.IsTotal ? "report-row-total" : $"report-row-{row.Level+Model.DisplayLevelAdjustment}";
            <tr class="@rowformat">

                <td class="report-col-name">
                    @{
                        var name = row.Name;
                        if (row.IsTotal)
                        {
                            name = "TOTAL";

                        }
                        if (name == null)
                        {
                            name = "-";
                        }
                    }
                    @name
                </td>

                @foreach (var column in Model.ColumnLabels)
                {
                    var cell = Model[column, row];

                    var colformat = "report-col-amount" + (column.IsTotal ? " report-col-total" : string.Empty);

                    <td class="@colformat">
                        @cell.ToString("C2")
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<hr />