@using OfxWeb.Asp.Controllers.Reports
@model Report
@{
    var icons = new[] { "&check;", "!!", "X" };
    string report = (string)ViewData["report"];
    int month = (int)ViewData["month"];
}

<div class="dropdown" style="float:right; margin: 4px">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Year
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonYear">

        @{
            int currentyear = DateTime.Now.Year;
            for (int year = 2017; year <= currentyear; ++year)
            {
                <a asp-action="Report" asp-route-id="@report" asp-route-year="@year" class="dropdown-item">@year</a>
            }
        }
    </div>
</div>

<div class="dropdown" style="float:right; margin: 4px">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonMonth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Month
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonMonth">

        @{
            int i = 1;
            foreach (var monthname in System.Globalization.DateTimeFormatInfo.CurrentInfo.MonthNames.Where(x => !string.IsNullOrEmpty(x)))
            {
                <a asp-action="Report" asp-route-id="@report" asp-route-month="@i" class="dropdown-item">@i @monthname</a>
                i++;
            }
        }
    </div>
</div>

<div style="margin-bottom:15px; background-color: lightgray">
    <a asp-action="Report" asp-route-id="all" class="btn">All</a> |
    <a asp-action="Report" asp-route-id="expenses" class="btn">Expenses</a> |
    <a asp-action="Report" asp-route-id="income" class="btn">Income</a> |
    <a asp-action="Report" asp-route-id="taxes" class="btn">Taxes</a> |
    <a asp-action="Report" asp-route-id="savings" class="btn">Savings</a> |
    <a asp-action="Report" asp-route-id="budget" class="btn">Full Budget</a> |
    <a asp-action="Report" asp-route-id="expenses-budget" class="btn">Expenses Budget</a> |
    <a asp-action="Report" asp-route-id="all-v-budget" class="btn">All v Budget</a> |
    <a asp-action="Report" asp-route-id="expenses-v-budget" class="btn">Expenses v Budget</a> |
    <a asp-action="Report" asp-route-id="yoy" class="btn">Year over Year</a> |
    <a asp-action="Report" asp-route-id="export" class="btn">Export</a>

</div>

<div class="dropdown" style="float:right; margin: 4px">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonLevel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Depth
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonLevel">

        @{
            for (i = 1; i <= 4; i++)
            {
                <a asp-action="Report" asp-route-id="@report" asp-route-level="@i" asp-route-showmonths="@ViewData["showmonths"]" class="dropdown-item">@i-Level</a>
            }
        }
    </div>
</div>
<div class="dropdown" style="float:right; margin: 4px">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonColumns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Show Months
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonColumns">
        <a asp-action="Report" asp-route-id="@report" asp-route-level="@ViewData["level"]" asp-route-showmonths="true" class="dropdown-item">Show</a>
        <a asp-action="Report" asp-route-id="@report" asp-route-level="@ViewData["level"]" asp-route-showmonths="false" class="dropdown-item">Hide</a>
    </div>
</div>
<h2>
    @Model.Name
</h2>
@if (!string.IsNullOrEmpty(Model.Description))
{
    <h3>
        @Model.Description
    </h3>
}


<table class="table report">
    <thead>
        <tr>
        <tr class="report-header">
            <th>@Model.Name</th>
            @foreach (var column in Model.ColumnLabelsFiltered)
            {
                <th>
                    @(column.IsTotal ? "TOTAL" : column.Name)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.RowLabelsOrdered)
        {
            var rowformat = row.IsTotal ? "report-row-total" : $"report-row-{row.Level + Model.DisplayLevelAdjustment}";
            <tr class="@rowformat">

                <td class="report-col-name">
                    @{
                        var name = row.Name;
                        if (row.IsTotal)
                        {
                            name = "TOTAL";

                        }
                        if (name == null)
                        {
                            name = "-";
                        }
                    }
                    @name
                </td>

                @foreach (var column in Model.ColumnLabelsFiltered)
                {
                    var cell = Model[column, row];

                    var colformat = "report-col-amount" + (column.IsTotal ? " report-col-total" : string.Empty);

                    var cellformat = column.DisplayAsPercent ? "P0" : "C2";

                    <td class="@colformat">
                        @cell.ToString(cellformat)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<hr />