@model YoFi.Core.Models.Transaction

@{
    ViewData["Title"] = "Print Transaction";
    Layout = "/Views/Shared/_CheckLayout.cshtml";

    var payeelines = Model.Payee.Split(':').Select(x=>x.Trim());
}

<div id="upper">
    <div>TO: @payeelines.First()</div>
    @foreach(var line in payeelines.Skip(1))
    {
        <div>@line</div>
    }

    @if (!string.IsNullOrEmpty(Model.Memo))
    {
        var memolines = Model.Memo.Split(':');
        <br/>
        <div>FOR: @memolines[0].Trim()</div>
        @foreach (var line in memolines.Skip(1))
        {
            <div>@line.Trim()</div>            
        }
    }

    <div class="right">
        <div>@Model.Timestamp.ToString("MMMM d, yyyy")</div>
        <br/>
        <div>@Math.Abs(Model.Amount).ToString("C2")</div>
    </div>
</div>

<div id="check">
    @if (!string.IsNullOrEmpty(Model.Memo))
    {
        var memolines = Model.Memo.Split(':');
        <div class="memo">
            FOR: @memolines[0].Trim()
        </div>    
    }

    <div class="amountwords">
        **@Math.Abs(Model.Amount).ToString("C2")**
    </div>

    <div class="payee">
        @foreach(var line in payeelines)
        {
            <div>@line</div>
        }
    </div>

    <div class="right">
        @Model.Timestamp.ToString("MMMM d, yyyy")

        <div class="amount">
            **@Math.Abs(Model.Amount).ToString("C2")**
        </div>
    </div>

</div>

<div id="lower">
    <div>TO: @payeelines.First()</div>
    @foreach(var line in payeelines.Skip(1))
    {
        <div>@line</div>
    }
    @if (!string.IsNullOrEmpty(Model.Memo))
    {
        var memolines = Model.Memo.Split(':');
        <br/>
        <div>FOR: @memolines[0].Trim()</div>
        @foreach (var line in memolines.Skip(1))
        {
            <div>@line.Trim()</div>            
        }
    }
    @if (!string.IsNullOrEmpty(Model.Category))
    {
        <br/>
        <div>CATEGORY: @Model.Category</div>
    }

    <div class="right">
        <div>@Model.Timestamp.ToString("MMMM d, yyyy")</div>
        <br/>
        <div>@Math.Abs(Model.Amount).ToString("C2")</div>
    </div>
</div>