@model IEnumerable<YoFi.Core.Models.Receipt>

@{
    ViewData["Title"] = "Index";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<h1>Receipts</h1>

<form method="post" enctype="multipart/form-data" asp-action="Upload">
    <div class="input-group mb-3 mt-3">
        <button class="btn btn-secondary" type="submit" id="inputGroupFileAddon03" disabled>Upload</button>
        <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" name="files" multiple>
    </div>
</form>


<table class="table" data-test-id="results">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filename)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        var nmatches = item.Matches.Count;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td data-test-id="memo">
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filename)
            </td>
            <td>
                @if (nmatches == 0)
                {
                    <form asp-action="Create">
                        <input type="hidden" name="id" value="@item.ID" />
                        <input type="submit" value="Create" class="btn btn-sm btn-primary" />
                    </form>
                }
                else 
                {
                    if (nmatches == 1)
                    {
                        <form asp-action="Accept">
                            <input type="hidden" name="id" value="@item.ID" />
                            <input type="hidden" name="txid" value="@item.Matches.Single().ID" />
                            <input type="submit" value="Accept" class="btn btn-sm btn-primary" />
                        </form>
                    }
                    <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.ID">Review</a>
                }
                <form asp-action="Delete">
                    <input type="hidden" name="id" value="@item.ID" />
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-secondary" />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.Any(x=>x.Matches.Count == 1))
{
    <form asp-action="AcceptAll">
        <input type="submit" value="Accept All" class="btn btn-primary" />
    </form>
}
